<html>
    <head>
        <title>
                  <%= title %>
        </title>
    </head>
    <body>
        <h1>play ground</h1>
        <ul>
            <%for(let i=1;i<7;i++){%>
                <li>
                    <%= i %>
                </li>
                <%}%>
               
        </ul>
       

    </body>
</html>